body{
  background-image: linear-gradient(rgb(0, 134, 196), rgb(255, 115, 0));
}

.box{
  max-width: 800px;
  background-color: white;
}

.box-header {
  display: inline-block;
  box-sizing: border-box;
  width:15%;

  border: solid;
}

.box-main {
  box-sizing: border-box;
  border:solid;
  display: inline-block;
  padding: 2em;
  width: 85%;
}


.box-header-menu {
  display: inline-block;
  text-align: center;
  width: 1em;
  margin: 1em auto;
}

.box-header-menu img {
  width: 1em;

}

.box-header-social{
  margin-top: 15em;
  list-style: none;
  padding: 0;;
}

.box-header-social img {
  width: 1em;
  margin:0 3em;
}


